.App {
    text-align: center;
    color: #61dafb;
}

.weather-summary {
    position: relative;
    right: 160px;
    top: 15px;
    color: #61dafb;
}
.date-time {
    margin-top: 0;
}

.temp {
    font-size: 50px;
    color: blue;
}
.units {
    font-size: 20px;
    position: relative;
    top: -20px;
}
.summary-data {
    font-size: 30px;
    list-style-type: none;
    position: relative;
    right: -300px;
    top: -190px;
}
.weather-table {
    display: flex;
}
.weather-forecast {
    margin-top: -60px;
    margin-left: 150px;
}

.city-name {
    margin-left: 30px;
}
.row-1 {
    margin-left: 25px;
}

.row-2 {
    margin-left: 30px;
}
.row-3 {
    margin-left: 30px;
}
.row-4 {
    margin-left: 30px;
}
