.summary-card {
    width: 235px;
    height: 200px;
    position: relative;
    top: 40px;
    left: -20px;
    color: var(--primary-color);
}
.summary-data-card {
    width: 235px;
    height: 200px;
    position: relative;
    top: -160px;
    left: 227px;
    font-size: 30px;
    color: var(--primary-color);
}
.summary-data {
    list-style-type: none;
    margin-left: -18px;
    margin-top: 12px;
}
